<ion-card mode="ios" button>
  <div class="card-content">

    <div class="left-content">
      <ion-button (click)="toggleFav()" fill="clear">
        <ion-icon color="light" slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="requestService()" fill="clear">
        <ion-icon color="light" slot="icon-only" name="reader-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="main-content">
      <ion-item lines="none">
        <ion-avatar slot="start" class="professional-image">
          <ion-img *ngIf="professionalImage" [src]="professionalImage"></ion-img>
        </ion-avatar>
        <ion-label>
          <p>
            <ion-icon class="ion-padding-end" slot="icon-only" name="location"></ion-icon>{{professional.addressCity}}
          </p>
          <h2>{{professional.name}}</h2>
        </ion-label>
      </ion-item>

      <ion-card-content mode="md">
        <span upperCaseFirstLetter class="separate-childs-with-commas"
          *ngFor="let category of professional.services | keyvalue">{{category.key}}</span>
      </ion-card-content>

      <ion-footer class="ion-no-border">
        <ion-row>
          <ion-col size="6" class="stats">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-text color="dark">{{stars}}</ion-text>
          </ion-col>
          <ion-col size="6" class="stats">
            <ion-icon color="dark" src="/assets/icon/wrench-solid.svg"></ion-icon>
            <ion-text color="dark">{{jobs}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-footer>

      <ion-footer>
        <ion-toolbar class="ion-text-center">

          <ion-text *ngIf="professional.distance <= professional.radiusKm; else outsideRageMessage" color="success">
            Realiza servicios por tu zona
          </ion-text>

          <ng-template #outsideRageMessage>
            <ion-text color="danger">
              No realiza servicios por tu zona
            </ion-text>
          </ng-template>
        </ion-toolbar>
      </ion-footer>
    </div>

  </div>
</ion-card>