:host {
  --super-tabs-toolbar-background: #fff;
  --st-indicator-color: var(--ion-color-primary);
  --st-label-text-transform: no-transform;
  --st-label-font-weight: 600;
  --st-base-color-inactive: var(--ion-color-tertiary);
  --st-base-color-active: var(--ion-color-primary);
}

.wrapper-ion-content {
  --overflow: hidden;
}

super-tab-button {

  &[index="0"] {
    --st-base-color-active: var(--ion-color-primary);
  }

  &[index="1"] {
    --st-base-color-active: var(--ion-color-secondary);
  }
}

.pro-header {

  ion-toolbar {
    border-radius: 20px 20px 0 0;
  }

  .top-background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    &.primary {
      background-color: var(--ion-color-primary);
    }

    &.secondary {
      background-color: var(--ion-color-secondary);
    }

    &.white {
      background-color: #ffffff;
    }
  }
}