<status-bar [color]="'primary'"></status-bar>


<ion-content color="primary">
  <div #content class="login-content">

    <div class="img">
      <img class="near-bottom background-drawings" src="/assets/background-drawings/email-found.svg">
    </div>

    <ion-text class="title">
      <h1>Hemos encontrado <span>tu correo</span></h1>
    </ion-text>

    <ion-item lines="none" class="user-interaction input-password border-radius">
      <form (ngSubmit)="goNext()" #passwordFormSubmit="ngForm" [formGroup]="passwordForm">
        <ion-input #passwordInput color="dark" [type]="passwordInputType" [clearOnEdit]="false" placeholder="Escribe tu contraseña" formControlName="password"></ion-input>
      </form>
      <ion-button (click)="togglePasswordMode()" fill="clear" mode="ios">
        <ion-icon slot="icon-only" [name]="passwordInputIcon" color="medium"></ion-icon>
      </ion-button>
    </ion-item>

  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="primary" mode="ios" class="ion-padding">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <div>Atrás</div>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="passwordForm.invalid" type="submit" (click)="passwordFormSubmit.ngSubmit.emit()">
        <div>Iniciar sesión</div>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>