<status-bar [color]="backgroundColor"></status-bar>

<custom-header title="Encargo" [hideBorder]="true" color="light" [background]="backgroundColor">

  <ion-toolbar [color]="backgroundColor">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ng-container *ngIf="request.isMine then optionsButton; else deleteButton"></ng-container>
      <ng-template #optionsButton>
        <ion-button (click)="onClick()">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </ion-button>
      </ng-template>
      <ng-template #deleteButton>
        <ion-button (click)="onClick()">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>

</custom-header>


<ion-content [color]="backgroundColor" [class.wrapper-ion-content]="request.isMine">

  <ng-container *ngIf="request.isMine then userView; else workerView"></ng-container>
  <ng-template #workerView><ng-container *ngTemplateOutlet="details"></ng-container></ng-template>
  <ng-template #userView><ng-container *ngTemplateOutlet="tabs"></ng-container></ng-template>

</ion-content>

<ng-template #details>
  <div class="content ion-padding">
    <ion-list lines="none">

      <ion-item>
        <ion-label>
          <h2>Encargo de</h2>
          <h3 class="ion-text-wrap">{{request.title}}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Busca</h2>
          <h3 class="ion-text-wrap">
            <span [upperCaseFirstLetter]="request.category"></span> - <span [upperCaseFirstLetter]="request.service"></span>
          </h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Título</h2>
          <h3 class="ion-text-wrap">{{request.title}}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="no-transform margin">
          <h2>Descripción</h2>
        </ion-label>
        <ion-textarea color="primary" rows="1" autosize readonly type="text" [value]="request.description"></ion-textarea>
      </ion-item>
      
      <ion-item *ngIf="request.images.length">
        <ion-label position="stacked" class="no-transform margin">
          <h2>Imágenes</h2>
        </ion-label>

        <gallery [images]="request.images"></gallery>
      </ion-item>

      <ion-item *ngIf="request.budget">
        <ion-label>
          <h2>Presupuesto</h2>
          <h3 class="ion-text-wrap">{{request.budget}} €</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Ubicación</h2>
          <h3 class="break-spaces">{{request?.hideLocationAccuracy ? request?.addressCity: request?.addressFull}}</h3>
        </ion-label>
      </ion-item>

      <map-preview 
        [radiusKm]="request.hideLocationAccuracy ? 5 : 0"
        [coordinates]="request.coordinates"
        [hideMarker]="request.hideLocationAccuracy"
        id="request-detail"
      ></map-preview>
      
    </ion-list>
    
  </div>
</ng-template>

<ng-template #tabs>
  <super-tabs (tabChange)="scrollLastTabToTop($event)">
    <super-tabs-toolbar slot="top">
      <super-tab-button disabled (click)="goToTab(0)">
        <ion-label>Respuestas</ion-label>
      </super-tab-button>
      <super-tab-button disabled (click)="goToTab(1)">
        <ion-label>Detalles</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>
  
    <super-tabs-container autoScrollTop>
      <super-tab>
        <ion-content scrollEvents="true" (ionScroll)="propagateScroll($event)">
          
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content scrollEvents="true" (ionScroll)="propagateScroll($event)">
          <ng-container *ngTemplateOutlet="details"></ng-container>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ng-template>