.content {
  background-color: white;
  position: relative;
  margin-top: 10px;
  border-radius: 40px 40px 0 0;
  min-height: calc(100% - 70px);
  height: auto;

  ion-list {
    background: none;

    ion-item {
      --background: none;
      --full-highlight-height: 0;
    }
  }

  h2 {
    font-weight: 500;
    color: var(--ion-color-tertiary);
  }

  h3 {
    padding-top: 10px;
    padding-left: 10px;
    color: var(--ion-color-primary);
  }

  ion-textarea {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    color: var(--ion-color-primary);
  }

  .margin {
    margin-top: 11px;
  }
}