:host {
  --super-tabs-toolbar-background: #fff;
  --st-indicator-color: var(--ion-color-tertiary);
  --st-label-text-transform: no-transform;
  --st-label-font-weight: 600;
  --st-base-color-inactive: var(--ion-color-medium);
  --st-base-color-active: var(--ion-color-tertiary);
}

.ion-content-single-page {
  overflow: hidden;
  border-radius: 40px 40px 0 0;
}

super-tabs-toolbar {
  border-radius: 40px 40px 0 0;
}

.wrapper-ion-content {
  --overflow: hidden;
}

.content {
  background-color: white;
  position: relative;
  margin-top: 10px;
  border-radius: 40px 40px 0 0;
  min-height: calc(100% - 70px);
  height: auto;

  ion-list {
    background: none;

    ion-item {
      --background: none;
      --full-highlight-height: 0;
    }
  }

  h2 {
    font-weight: 500;
    color: var(--ion-color-tertiary);
  }

  h3 {
    padding-top: 10px;
    padding-left: 10px;
    color: var(--ion-color-primary);
  }

  ion-textarea {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    padding-left: 10px;
    color: var(--ion-color-primary);
  }

  .margin {
    margin-top: 11px;
  }
}

.badge {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  z-index: 20;
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;

  &.unread-messages {
    background-color: var(--ion-color-danger);
  }
}