:host {
  display: contents;
}

.container {
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  top: var(--status-bar-height, 0);
  left: 0;
  height: 56px;
  width: 100%;
  margin: auto;
  // border: 1px solid lightcoral;

  .y-axis {
    // border: 1px solid lightgreen;
    // box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .x-axis {
      display: flex;
      align-items: center;
      // border: 1px solid lightblue;
      // box-sizing: border-box;
      height: 100%;
      width: calc(100% - 40px);
      margin: 0 20px;

      .text {
        max-width: calc(100% - 130px);
        font-size: 16.5px;
        font-weight: 500;
        display: block;
        text-align: left;
        transform-origin: left;

        &[color='primary'] {
          color: var(--ion-color-primary);
        }

        &[color='secondary'] {
          color: var(--ion-color-secondary);
        }

        &[color='tertiary'] {
          color: var(--ion-color-tertiary);
        }

        &[color='light'] {
          color: var(--ion-color-light);
        }
      }
    }
  }
}