<status-bar color="#fff"></status-bar>

<custom-header [title]="title">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="tertiary" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</custom-header>


<ion-content>

  <div *ngFor="let category of categories">
    <ion-list lines="none" class="item-category">
      <ion-item (click)="updateCollapseState(category)">
        <ion-checkbox *ngIf="!limit" slot="start" [(ngModel)]="category.checked" [indeterminate]="category.indeterminateState"
          (click)="updateServicesCheckbox(category, $event)"></ion-checkbox>
        <ion-icon class="category-icon" [style.backgroundColor]="category.color" color="light" slot="start"
          [src]="category.icon"></ion-icon>
        <ion-label [upperCaseFirstLetter]="category.name" color="medium"></ion-label>
        <ion-icon slot="end" [name]="category.collapsed ? 'chevron-down-outline' : 'chevron-up-outline'"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list lines="none" [class.collapsed]="category.collapsed" class="item-service">
      <ion-item *ngFor="let service of category.services">
        <ion-checkbox slot="start" [(ngModel)]="service.checked" (ionChange)="updateCategoryCheckbox(service, category)">
        </ion-checkbox>
        <ion-label [upperCaseFirstLetter]="service.name" color="tertiary"></ion-label>
      </ion-item>
    </ion-list>
  </div>

</ion-content>

<ion-footer class="buttons-cancel-confirm">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        Cancelar
      </ion-button>
      <ion-button [disabled]="false" (click)="accept()" class="confirm-button">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>