.input-edit {
  ion-item {
    --border-color: var(--ion-color-primary);
    --color: var(--ion-color-primary);
    --border-width: 0;
    --full-highlight-height: 0;

    ion-input, ion-textarea {
      --padding-start: 10px;
      --padding-end: 20px;
    }

    ion-label {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px;

      span {
        font-style: italic;
      }
    }

    form {
      width: 100%;
    }
  }

  .border {
    margin: 0 16px;
    border-color: var(--ion-color-primary);
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
  }
}