<ion-content color="primary">
  <ion-slides pager="true" [options]="slideOpts" scrollbar="true">


    <ion-slide>
      <div class="login-content">

        <div class="img">
          <img class="near-bottom background-drawings" src="/assets/background-drawings/user-type.svg">
        </div>

        <ion-text class="title">
          <h1>Cuéntanos <span>quién eres</span></h1>
        </ion-text>

        <div class="user-interaction buttons">
          <ion-button (click)="setUserType(userType.client, buttonsColors.client, buttonsColors.professional)" class="border-radius" [color]="buttonsColors.client.button">
            <ion-text [color]="buttonsColors.client.text">
              Cliente
            </ion-text>
          </ion-button>
          <ion-button (click)="setUserType(userType.profesional, buttonsColors.professional, buttonsColors.client)" class="border-radius" [color]="buttonsColors.professional.button">
            <ion-text [color]="buttonsColors.professional.text">
              Profesional
            </ion-text>
          </ion-button>
        </div>

      </div>
    </ion-slide>


    <ion-slide>
      <div class="login-content">

        <div class="img">
          <img class="near-bottom background-drawings" src="/assets/background-drawings/name.svg">
        </div>

        <ion-text class="title">
          <h1>Dinos cómo <span>te llamas</span></h1>
        </ion-text>

        <ion-item lines="none" class="user-interaction border-radius">
          <form (ngSubmit)="goNext()" [formGroup]="nameForm">
            <ion-input (ionChange)="nameFormValid()" color="dark" type="text" placeholder="Escribe tu nombre" formControlName="name"></ion-input>
          </form>
        </ion-item>

      </div>
    </ion-slide>


    <ion-slide>
      <div class="login-content">

        <div class="img">
          <div class="profile-img-wrapper">

            <div class="profile-img">
              <img [src]="profileImage">
            </div>

            <div class="camera-button-wrapper">
              <ion-fab-button size="small" color="light" mode="ios">
                <ion-icon name="camera-outline"></ion-icon>
              </ion-fab-button>
            </div>

          </div>
        </div>

        <ion-text class="title">
          <h1>Enséñanos tu <span>mejor sonrisa</span></h1>
        </ion-text>

      </div>
    </ion-slide>


    <ion-slide>
      <div class="login-content">

        <div class="img">
          <img class="near-bottom background-drawings" src="/assets/background-drawings/password.svg">
        </div>

        <ion-text class="title">
          <h1>Escoge una <span>contraseña</span></h1>
        </ion-text>

        <ion-item lines="none" class="user-interaction input-password border-radius">
          <form (ngSubmit)="goNext()" [formGroup]="passwordForm">
            <ion-input #passwordInput (ionChange)="passwordFormValid()" color="dark" [type]="passwordInputType" [clearOnEdit]="false" placeholder="Escribe tu contraseña" formControlName="password"></ion-input>
          </form>
          <ion-button (click)="togglePasswordMode()" fill="clear" mode="ios">
            <ion-icon slot="icon-only" [name]="passwordInputIcon" color="medium"></ion-icon>
          </ion-button>
        </ion-item>

      </div>
    </ion-slide>


  </ion-slides>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="primary" mode="ios" class="ion-padding">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <div>Atrás</div>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [disabled]="goNextDisabled" (click)="goNext()">
        <div>Siguiente</div>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>