<status-bar color="#fff"></status-bar>

<ion-header>
  <ion-toolbar>
    <ion-title>profile-edit</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>Et alias quia fugiat. Non ea qui dolor recusandae perspiciatis. Excepturi laboriosam repellendus voluptatem nesciunt qui velit ipsam.</p>
  <p>Ut dolorum non sed quaerat ut. Dolorum nesciunt omnis cumque non perferendis. Sit fugit quod quas ut. Voluptatum id illo quae dignissimos accusamus atque quia. Qui voluptatem non.</p>
  <p>Eos reiciendis magnam rerum dolor facilis commodi. Voluptatem ut quo quis error. Sit officiis et repudiandae illo ad. Inventore ab asperiores et quis qui. Accusamus qui iusto possimus voluptatem officia aliquam illo.</p>
  <p>Optio vel quam assumenda tenetur. Nihil doloremque perspiciatis numquam qui. Atque voluptatem animi et mollitia dolore sunt numquam aut quia. Qui fugit harum vitae qui veniam ut corrupti impedit. Et voluptatem iusto.</p>
  <p>At accusantium fugiat explicabo aut deserunt. Nemo autem doloribus sequi in dolores expedita deserunt necessitatibus corporis. Iusto rerum laboriosam. Dolorum pariatur enim iste ullam eligendi exercitationem. Sit nemo sed similique quo. Aut vero minima dolores sit quod dicta quis est.</p>
  <p>Eos inventore dicta ut quia officiis blanditiis provident quo quis. Dolores nam maxime non itaque aut saepe quo vitae ut. Dolorem a sit non illo exercitationem animi.</p>
  <p>Aut qui molestiae repellat enim qui ut deserunt. Repellendus molestiae labore suscipit quia ex ad perspiciatis. Esse expedita ut et adipisci doloribus omnis. Odit voluptatibus dolores corrupti sed. Dolorem ut accusamus. Rerum ea facilis voluptatem aut voluptatem laboriosam.</p>
  <p>Et alias quia fugiat. Non ea qui dolor recusandae perspiciatis. Excepturi laboriosam repellendus voluptatem nesciunt qui velit ipsam.</p>
  <p>Ut dolorum non sed quaerat ut. Dolorum nesciunt omnis cumque non perferendis. Sit fugit quod quas ut. Voluptatum id illo quae dignissimos accusamus atque quia. Qui voluptatem non.</p>
  <p>Eos reiciendis magnam rerum dolor facilis commodi. Voluptatem ut quo quis error. Sit officiis et repudiandae illo ad. Inventore ab asperiores et quis qui. Accusamus qui iusto possimus voluptatem officia aliquam illo.</p>
  <p>Optio vel quam assumenda tenetur. Nihil doloremque perspiciatis numquam qui. Atque voluptatem animi et mollitia dolore sunt numquam aut quia. Qui fugit harum vitae qui veniam ut corrupti impedit. Et voluptatem iusto.</p>
  <p>At accusantium fugiat explicabo aut deserunt. Nemo autem doloribus sequi in dolores expedita deserunt necessitatibus corporis. Iusto rerum laboriosam. Dolorum pariatur enim iste ullam eligendi exercitationem. Sit nemo sed similique quo. Aut vero minima dolores sit quod dicta quis est.</p>
  <p>Eos inventore dicta ut quia officiis blanditiis provident quo quis. Dolores nam maxime non itaque aut saepe quo vitae ut. Dolorem a sit non illo exercitationem animi.</p>
  <p>Aut qui molestiae repellat enim qui ut deserunt. Repellendus molestiae labore suscipit quia ex ad perspiciatis. Esse expedita ut et adipisci doloribus omnis. Odit voluptatibus dolores corrupti sed. Dolorem ut accusamus. Rerum ea facilis voluptatem aut voluptatem laboriosam.</p>
</ion-content>