<status-bar color="#fff"></status-bar>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!forceCompleteProfile">
      <ion-button (click)="goBack()">
        <ion-icon color="tertiary" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateUser()" color="primary" class="no-transform">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="tertiary" class="title" *ngIf="forceCompleteProfile">
    <h1>Cuéntanos un <span>poco más de ti</span></h1>
  </ion-text>

  <div class="img">
    <div class="image-profile-wrapper">

      <div class="image-profile">
        <img *ngIf="tempUser?.profilePic" [src]="tempUser?.profilePic">
      </div>

      <div class="camera-button-wrapper">
        <ion-fab-button size="small" color="light" mode="ios" (click)="showCameraSourcePrompt()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button>
      </div>

    </div>
  </div>


  <ion-list class="user-data-edit" lines="none">

    <ion-item button (click)="editName()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerName}}
        </ion-text>
      </ion-label>
      <ion-input readonly type="text" [value]="tempUser?.name"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item>
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Correo
        </ion-text>
      </ion-label>
      <ion-input readonly type="email" inputmode="email" [value]="tempUser?.email"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item>
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Contraseña
        </ion-text>
      </ion-label>
      <ion-input readonly type="password" value="super password"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item button (click)="editCompany()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerCompany}} - <span>Opcional</span>
        </ion-text>
      </ion-label>
      <ion-input readonly type="text" [value]="tempUser?.companyName"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item button (click)="editServices()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerServices}}
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="tertiary"></ion-icon>
      <div class="user-options-list">
        <ng-container *ngFor="let category of tempUser?.services | keyvalue ">
          <span upperCaseFirstLetter *ngFor="let service of category.value" class="separate-childs-with-commas">{{service}}</span>
        </ng-container>
      </div>
    </ion-item>
    <div class="border"></div>


    <ion-item (click)="editWorkingHours()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerWorkingHours}}
        </ion-text>
      </ion-label>
      <div class="user-options-list">
        <span upperCaseFirstLetter *ngFor="let workingHour of tempUser?.workingHours" class="separate-childs-with-commas">{{workingHour}}</span>
      </div>
    </ion-item>


    <ion-item button (click)="editAbout()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerAbout}} - <span>Opcional</span>
        </ion-text>
      </ion-label>
      <ion-textarea rows="1" autosize readonly type="text" [value]="tempUser?.about"></ion-textarea>
    </ion-item>
    <div class="border"></div>

    
    <ion-item button (click)="editLocation()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Localización
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="tertiary"></ion-icon>
      <ion-textarea rows="1" autosize readonly type="text" [value]="tempUser?.hideLocationAccuracy ? tempUser?.addressCity: tempUser?.addressFull"></ion-textarea>
    </ion-item>
    <div class="border"></div>


    <ion-item button (click)="editRange()" [disabled]="tempUser?.addressFull == null || tempUser?.addressFull == ''">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Ámbito de actuación
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="tertiary"></ion-icon>
      <ion-input readonly type="text" [value]="tempUser?.radiusKm ? tempUser?.radiusKm + ' km' : ''"></ion-input>
    </ion-item>
    <div class="border"></div>


  </ion-list>

</ion-content>