.profile-img-wrapper {
  height: 140px;
  width: 140px;
  position: relative;
  margin: auto;
  margin-bottom: 25px;

  .profile-img {
    height: 100%;
    width: 100%;
    background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
    background-color: var(--ion-color-light);
    border-radius: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .camera-button-wrapper {
    background-color: #fff;
    bottom: 0;
    right: 0;
    position: absolute;
    transform: translate(25%, 25%);
    border-radius: 100%;

    ion-fab-button {
      height: 40px;
      width: 40px;
      margin: 5px;
      --box-shadow: 0 4px 16px rgba(0, 0, 0, .2);

      ion-icon {
        color: var(--ion-color-medium);
      }
    }
  }
}


.user-data-edit {

  ion-item {
    margin-top: 20px;
    --color: var(--ion-color-primary);
    --full-highlight-height: 0;

    ion-label {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 5px;
      margin-top: 10px;
      transform: none;

      span {
        font-style: italic;
      }
    }

    ion-input,
    ion-textarea {
      --padding-start: 10px;
      --padding-end: 20px;
    }
  }

  .border {
    margin: 0 16px;
    border-color: var(--ion-color-primary);
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
  }


  .checkbox-list {
    width: 100%;

    ion-item {
      margin-top: 0;

      ion-checkbox {
        margin-top: 12px;
        margin-bottom: 12px;
      }

      ion-label {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }


}