<status-bar color="#fff"></status-bar>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="updateUser()" color="primary" class="no-transform">
        Guardar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="img">
    <div class="profile-img-wrapper">

      <div class="profile-img">
        <img *ngIf="user?.profilePic" [src]="user?.profilePic">
      </div>

      <div class="camera-button-wrapper">
        <ion-fab-button size="small" color="light" mode="ios" (click)="showCameraSourcePrompt()">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button>
      </div>

    </div>
  </div>


  <ion-list class="user-data-edit" lines="none">

    <ion-item button (click)="editName()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerName}}
        </ion-text>
      </ion-label>
      <ion-input readonly type="text" [value]="user?.name"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item>
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Correo
        </ion-text>
      </ion-label>
      <ion-input readonly type="email" inputmode="email" [value]="user?.email"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item>
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Contraseña
        </ion-text>
      </ion-label>
      <ion-input readonly type="password" value="super password"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item button (click)="editCompany()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerCompany}} - <span>Opcional</span>
        </ion-text>
      </ion-label>
      <ion-input readonly type="text" [value]="user?.companyName"></ion-input>
    </ion-item>
    <div class="border"></div>


    <ion-item button (click)="editServices()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Servicios
        </ion-text>
      </ion-label>
      <div class="user-options-list ion-text-capitalize">
        <ng-container *ngFor="let services of user?.services | keyvalue ">
          <span *ngFor="let service of services.value" class="list-item">{{service}}</span>
        </ng-container>
      </div>
    </ion-item>
    <div class="border"></div>


    <ion-item (click)="editWorkingHours()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Horario
        </ion-text>
      </ion-label>
      <div class="user-options-list ion-text-capitalize">
        <span *ngFor="let workingHour of user?.workingHours" class="list-item">{{workingHour}}</span>
      </div>
    </ion-item>


    <ion-item button (click)="editAbout()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          {{headerAbout}} - <span>Opcional</span>
        </ion-text>
      </ion-label>
      <ion-textarea rows="1" autosize readonly type="text" [value]="user?.about"></ion-textarea>
    </ion-item>
    <div class="border"></div>

    
    <ion-item button (click)="editLocation()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Localización
        </ion-text>
      </ion-label>
      <ion-textarea rows="1" autosize readonly type="text" [value]="user?.hideLocationAccuracy ? user?.addressCity: user?.addressFull"></ion-textarea>
    </ion-item>
    <div class="border"></div>


    <ion-item button (click)="editRange()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Ámbito de actuación
        </ion-text>
      </ion-label>
      <ion-input readonly type="text" [value]="user?.radiusKm ? user?.radiusKm + ' km' : ''"></ion-input>
    </ion-item>
    <div class="border"></div>


  </ion-list>

</ion-content>