.image-profile-wrapper {
  height: 140px;
  width: 140px;
  position: relative;
  margin: 25px auto;

  .image-profile {
    height: 100%;
    width: 100%;
    background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
    background-color: var(--ion-color-light);
    border-radius: 100%;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .camera-button-wrapper {
    background-color: #fff;
    bottom: 0;
    right: 0;
    position: absolute;
    transform: translate(25%, 25%);
    border-radius: 100%;

    ion-fab-button {
      height: 40px;
      width: 40px;
      margin: 5px;
      --box-shadow: 0 4px 16px rgba(0, 0, 0, .2);

      ion-icon {
        color: var(--ion-color-medium);
      }
    }
  }
}


.user-data-edit {

  ion-item {
    margin-top: 20px;
    --color: var(--ion-color-primary);
    --full-highlight-height: 0;

    ion-label {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 5px;
      margin-top: 10px;
      transform: none;

      span {
        font-style: italic;
      }
    }

    ion-input,
    ion-textarea {
      --padding-start: 10px;
      --padding-end: 20px;
    }

    ion-textarea {
      margin-top: 0;
    }
  }

  .border {
    margin: 0 16px;
    // border-color: var(--ion-color-primary);
    border-color: #fff;
    border-style: solid;
    border-width: 0;
    border-top-width: 5px;
  }

  .user-options-list {
    padding: 8px 20px 8px 10px;
    min-height: 35px;
  }

  .range-info {
    margin: 10px 0;
  }

  .bottom-buttons-wrapper {
    margin-top: 50px;
  }


}