ion-label {
  font-size: 17px;
  font-weight: 600;
  color: var(--ion-color-tertiary);
  margin-top: 16px;
  margin-bottom: 10px;
  display: inline-block;
}

.restart-button {
  margin: 0 0 24px 16px;
}

.workingHours-button {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.48px;
}