.footer-border-radius {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 66px;
  width: 100%;
  background-color: var(--ion-color-tertiary);
  border-radius: 30px 30px 0 0;
}

ion-footer ion-toolbar {
  border-radius: 30px 30px 0 0;

  ion-buttons {
    transform: translateY(-5px);

    ion-button {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.06em;
    }
  }
}