<status-bar color="#fff"></status-bar>

<custom-header title="Categorías">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon color="tertiary" slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</custom-header>


<ion-content scrollEvents="true" (ionScroll)="updateTitle($event.detail.scrollTop)">

  <ion-toolbar></ion-toolbar>

  <div class="nav-bar-space">
    <ion-card *ngFor="let category of categories" mode="ios" [style.--background]="category.color" class="category-card" button (click)="showServices(category)">
      <div class="title-wrapper">
        <ion-icon class="category-icon small-icon" color="light" [src]="category.icon"></ion-icon>
        <ion-label upperCaseFirstLetter>{{category.name}}</ion-label>
      </div>
      <ion-icon class="category-icon big-icon" [src]="category.icon"></ion-icon>
    </ion-card>
  </div>
</ion-content>