.category-card {
  height: 110px;

  .title-wrapper {
    color: white;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px;

    ion-label {
      color: #fff;
      padding-left: 16px;
    }
  }

  .category-icon {
    font-size: initial;

    &.small-icon {
      height: 20px;
      width: 20px;
      padding: 10px;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.big-icon {
      color: rgba(0, 0, 0, 0.1);
      position: absolute;
      right: 16px;
      top: 0;
      bottom: 0;
      margin: auto;
      height: 70px;
      width: 70px;
    }
  }
}