.content {
  background-color: white;
  position: relative;
  color: red;
  margin-top: 70px;
  border-radius: 40px 40px 0 0;
  min-height: calc(100% - 70px);
  height: auto;

  .image-profile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 130px;
    width: 130px;
    border-radius: 100%;
    background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
    background-color: var(--ion-color-light);
    border: 8px solid #fff;

    img {
      border-radius: inherit;
    }

    .stars {
      height: 40px;
      width: 40px;
      background-color: var(--ion-color-primary);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      border: 3px solid white;
      border-radius: inherit;
      text-align: center;

      .number {
        font-family: Poppins;
        font-weight: 200;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

  }

  .stats {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

    .number {
      font-family: Poppins;
      font-weight: 500;
      margin-bottom: 4px;
    }

    .image-space {
      width: 130px;
    }

    h1 {
      margin-top: 0;
      font-weight: 600;
    }

  }

  .header {
    margin-top: 70px;
    text-align: center;

    h1,
    h6 {
      margin: 0;
    }

    h6 {
      font-weight: 600;
    }
  }

  .info {
    h2 {
      font-weight: 500;
      color: var(--ion-color-tertiary);
    }

    h3 {
      padding-top: 10px;
      padding-left: 10px;
      color: var(--ion-color-primary);
    }

    ion-card {
      box-shadow: none;
    }
  }

  .change-rol-wrapper {
    margin-top: 50px;

    .change-rol-info {
      font-size: 14px;
    }
  }
}