<ion-content color="primary">
  <div #content class="login-content">

    <div class="img">
      <img class="near-bottom background-drawings" src="/assets/background-drawings/email-found.svg">
    </div>

    <ion-text class="title">
      <h1>Hemos encontrado <span>tu correo</span></h1>
    </ion-text>

    <div class="div-user-interaction input border-radius">
      <ion-input color="dark" type="text" placeholder="Escribe tu contraseña" type="password"></ion-input>
    </div>

  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar color="primary" mode="ios" class="ion-padding">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <div>Atrás</div>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="goNext()">
        <div>Siguiente</div>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>