#map {
  height: 100%;
  width: 100%;
}

.gradient {
  z-index: 1000;
  width: 100%;
  height: 10px;

  &.absolute {
    position: absolute;
  }

  &.top {
    top: 0;
    transform: scaleY(-1)
  }

  &.bottom {
    bottom: 0;
  }
}

ion-range {
  padding: 20px 30px;
}