ion-label ion-skeleton-text {
  --border-radius: 10px;
}

.container {
  padding-bottom: 46px;

  .user-image {
    background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
    background-color: var(--ion-color-light);
    background-size: 70%;
    position: absolute;
    top: 4px;

    ion-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 60%;
      width: 60%;
    }
  }

  .comment {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
  }

  .quote {
    height: 20px;
    margin-right: 10px;
    width: 15px;
    min-width: 15px;
  }

  ion-note {
    position: absolute;
    font-size: 16px;
    top: 16px;
    right: 16px;
    display: flex;
    align-items: center;

    ion-icon {
      margin-left: 6px;
    }
  }
}