.background {
  background-color: white;
}

ion-grid::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

ion-avatar {
  height: 40px;
  width: 40px;

  .profile-img {
    height: 100%;
    width: 100%;
    background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
    background-color: var(--ion-color-light);
    background-size: 80%;
    border-radius: 100%;
    overflow: hidden;

    img {
      border-radius: inherit;
    }
  }
}

.grid-messages {
  background-color: white;
  overflow-x: scroll;
  min-height: 100%;

  .col-date {
    position: sticky;
    left: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);

    .date {
      text-align: center;
      margin: 10px auto;
      color: var(--ion-color-medium);
      width: fit-content;
      font-size: x-small;
      text-transform: uppercase;
    }
  }

  .row-messages {
    flex-wrap: nowrap;

    .col-message {
      position: sticky;
      left: 0;

      .div-message {
        border-radius: 15px;
        border: 1px solid #e0e0e0;
        width: fit-content;
        max-width: 100%;
        padding: 10px;
        white-space: pre-wrap;
        color: var(--ion-color-dark);

        &.fromMe {
          border: none;
          // color: var(--ion-color-light);
          margin-left: auto;
          
          &.primary {
            background-color: rgba(var(--ion-color-primary-rgb), 0.2);
          }
          
          &.secondary {
            background-color: rgba(var(--ion-color-secondary-rgb), 0.2);
          }
        }

      }
    }

    .time {
      color: var(--ion-color-dark);
      width: 100%;
      font-size: small;
      text-align: center;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      height: fit-content;
    }
  }
}

.footer-message-input {
  &.footer-md::before {
    background-image: none;
  }

  &.footer-ios ion-toolbar:first-child {
    --border-width: 0;
  }

  ion-row {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 5px;

    .col-input {
      // padding: 10px 5px;
      display: flex;

      .message-input {
        margin-top: 0;
        --padding-end: 8px;
      }

      .separator-bar {
        width: 0;
        margin: 2.5% 0;
        border-right: 1px solid #e0e0e0;
      }
    }

    ion-button.camera-button {
      z-index: 2;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 12px;
      margin: auto;
      --ripple-color: transparent;

      ion-icon {
        position: absolute;
      }
    }

    .col-button {

      padding-left: 0;

      ion-button {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -3px;
        margin: auto;
        --ripple-color: transparent;

        ion-icon {
          position: absolute;
        }
      }
    }
  }
}

.content {
  display: flex;
  overflow-x: auto;

  .box {
    display: flex;
    min-height: min-content;
    margin-bottom: 10px;

    .img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      margin: 5px;
    }
  }
}

fiv-gallery-image {
  --border-radius: 8px;
  --height: 140px;
  --width: 140px;
  height: 140px;
  width: 140px;
}