ion-list {
  background: none;

  ion-item {
    --background: none;
  }
}

h2,
ion-note {
  font-weight: 500;
  color: var(--ion-color-tertiary);
}

h3 {
  padding-left: 10px;
  padding-top: 10px;
}

.relative {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-border-radius {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 66px;
  width: 100%;
  background-color: var(--ion-color-tertiary);
  border-radius: 30px 30px 0 0;
}

ion-footer ion-toolbar {
  border-radius: 30px 30px 0 0;

  ion-buttons {
    transform: translateY(-5px);

    ion-button {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.06em;
    }
  }
}

ion-title {
  font-size: 28px;
  font-weight: 500;
}

.payment-complete {
  position: absolute;
  z-index: 20;
}

ion-toolbar,
ion-content {
  --background: #F8F8F8;
}

.background-wrapper {
  top: 0;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 50px;
  position: absolute;
}