.background-animation-wrapper {
  z-index: 10000;

  .background {
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 160%;
    width: 100%;
    background-color: var(--ion-color-primary);
  }

  img {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
  }
}

ion-tab-bar {
  --border: none;

  ion-tab-button {
    --ripple-color: transparent;

    .background-button-selected {
      position: absolute;
      height: 40px;
      width: 40px;
      transform: scale(.4);
      border-radius: 40%;
      transition: transform ease-out .2s, opacity ease-out .3s;
      opacity: 0;
      background-color: var(--ion-color-primary);
    }

    &.tab-selected .background-button-selected {
      opacity: .2;
      transform: scale(1);
    }
  }
}