.profile-img {
  height: 100%;
  width: 100%;
  background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
  background-color: var(--ion-color-light);
  background-size: 80%;
  border-radius: 100%;
  overflow: hidden;

  img {
    border-radius: inherit;
  }
}

.message-info {
  text-align: end;
  max-width: fit-content;
}

ion-badge {
  background-color: var(--ion-color-danger);
}