ion-app {
  background-color: #000;
  transition-property: background-color;
  transition-delay: 1s;
  margin-bottom: var(--keyboard-height, 0);

  &.loading {
    background-color: var(--ion-color-primary);
  }
}