ion-slides {
  height: 100%;

  .profile-img-wrapper {
    height: 140px;
    width: 140px;
    bottom: 30px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    .profile-img {
      height: 100%;
      width: 100%;
      background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
      background-color: var(--ion-color-light);
      border-radius: 100%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .camera-button-wrapper {
      background-color: var(--ion-color-primary);
      bottom: 0;
      right: 0;
      position: absolute;
      transform: translate(25%, 25%);
      border-radius: 100%;

      ion-fab-button {
        height: 40px;
        width: 40px;
        margin: 5px;

        ion-icon {
          color: var(--ion-color-medium);
        }
      }
    }
  }
}