.footer-border-radius {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 66px;
  width: 100%;
  background-color: var(--ion-color-tertiary);
  border-radius: 30px 30px 0 0;
}

ion-footer ion-toolbar {
  border-radius: 30px 30px 0 0;

  ion-buttons {
    transform: translateY(-5px);

    ion-button {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.06em;
    }
  }
}

ion-list {

  ion-item {
    margin-top: 20px;
    --color: var(--ion-color-primary);
    --full-highlight-height: 0;

    ion-label {
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 5px;
      margin-top: 10px;
      transform: none;

      span {
        font-style: italic;
      }
    }

    ion-input,
    ion-textarea {
      --padding-start: 10px;
      --padding-end: 20px;
    }

    .info {
      font-size: 15px;
      margin: 10px 0;
    }

    .user-options-list {
      padding: 8px 20px 8px 10px;
      min-height: 35px;
    }

    ion-textarea {
      margin-top: 0;
    }
  }
}

.border-width-thin {
  --border-width: 1px;
  --border-radius: 10px;
}

ion-fab-button {
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
  --border-radius: 10px;
  --background: white;
  --box-shadow: none;
  --color: var(--ion-color-primary);
  margin: 0;
}