<status-bar color="#fff"></status-bar>

<custom-header title="Nuevo encargo">
  <ion-toolbar></ion-toolbar>
</custom-header>

<ion-content class="ion-padding-bottom">

  <ion-list lines="none">

    <ion-item button (click)="editService()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Busco
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="tertiary"></ion-icon>
      <ion-text color="medium" class="info">
        <span>
          Elige el servicio que mejor se adapta a tus necesidades
        </span>
      </ion-text>
      <div class="user-options-list">
        <span *ngIf="request.category" upperCaseFirstLetter>{{request.category}}</span>
        <ng-container *ngIf="request.service"> - </ng-container>
        <span *ngIf="request.service" upperCaseFirstLetter>{{request.service}}</span>
      </div>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">
        <ion-text color="tertiary">
          ¿Cuándo lo necesitas?
        </ion-text>
      </ion-label>
      <ion-text color="medium" class="info">
        <span>
          Especifica cuándo te gustaría empezar el encargo. También puedes seleccionar un rango
        </span>
      </ion-text>
      <div class="when-buttons-wrapper ion-justify-content-evenly">
        <ion-button (click)="setNow()" class="no-transform border-radius-10" color="danger" size="default" expand="block"
          [fill]="request.priority ? 'solid' : 'outline'">
          Ahora
        </ion-button>
        <ion-button (click)="chooseDay()" class="no-transform border-radius-10" size="default" expand="block"
          [fill]="request.startDate && !request.priority ? 'solid' : 'outline'">
          <ng-container *ngIf="request.startDate && !request.priority; else defaultText">
            {{request.startDate.format('L')}}<ng-container *ngIf="request.endDate"> -
              {{request.endDate.format('L')}}</ng-container>
          </ng-container>
          <ng-template #defaultText>{{chooseDayDefaultText}}</ng-template>
        </ion-button>
      </div>
      <div class="user-options-list">
        <span upperCaseFirstLetter *ngFor="let workingHour of request.workingHours"
          class="separate-childs-with-commas">{{workingHour}}</span>
      </div>


      <!-- <ion-textarea [color]="tempUser?.role === userRol.client ? 'secondary' : 'primary'" rows="1" autosize readonly type="text" [value]="tempUser?.hideLocationAccuracy ? tempUser?.addressCity: tempUser?.addressFull"></ion-textarea> -->
    </ion-item>


    <ion-item button (click)="editTitle()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Título
        </ion-text>
      </ion-label>
      <ion-text color="medium" class="info">
        <span>
          Ponle un nombre a tu solicitud
        </span>
      </ion-text>
      <ion-textarea color="primary" rows="1" autosize readonly type="text" [value]="request.title"></ion-textarea>
    </ion-item>


    <ion-item button (click)="editDescription()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Descripción
        </ion-text>
      </ion-label>
      <ion-text color="medium" class="info">
        <span>
          Describe detalladamente qué necesitas
        </span>
      </ion-text>
      <ion-textarea color="primary" rows="1" autosize readonly type="text" [value]="request.description"></ion-textarea>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Imágenes - <span>Opcional</span>
        </ion-text>
      </ion-label>
      <ion-text color="medium" slot="end">{{images.length}}/5</ion-text>
      <ion-text color="medium" class="info">
        <span>
          Añade imágenes para ayudar a los profesionales a entender qué necesitas
        </span>
      </ion-text>

      <gallery (imageDeleted)="updateHasImageProperty()" [images]="images" showRemoveButton="true">
        <ion-fab-button size="small" *ngIf="images.length < 5" (click)="addImage()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </gallery>

    </ion-item>



    <ion-item (click)="editBudget()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Presupuesto - <span>Opcional</span>
        </ion-text>
      </ion-label>
      <ion-text color="medium" class="info">
        <span>
          Puedes especificar de cuánto presupuesto dispones. Déjalo vacío para indicar que no especifícas un presupuesto
          (en euros)
        </span>
      </ion-text>
      <ion-input readonly type="text" [value]="request.budget ? request.budget + ' €' : ''"></ion-input>
    </ion-item>


    <ion-item button (click)="editLocation()">
      <ion-label position="stacked">
        <ion-text color="tertiary">
          Localización
        </ion-text>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="tertiary"></ion-icon>
      <ion-text color="medium" class="info">
        <span>
          La localización es necesaria para mostrarte profesionales cerca. Basta con una ubicación aproximada
        </span>
      </ion-text>
      <ion-textarea rows="1" autosize readonly type="text"
        [value]="request?.hideLocationAccuracy ? request?.addressCity: request?.addressFull"></ion-textarea>
    </ion-item>

  </ion-list>

</ion-content>

<div class="footer-border-radius"></div>

<ion-footer class="ion-no-border buttons-cancel-confirm">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end" mode="ios">
      <ion-button (click)="goBack()">Cancelar</ion-button>
      <ion-button (click)="continue()" class="confirm-button">Continuar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>