<status-bar color="#fff"></status-bar>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="tertiary" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar class="custom-searchbar" (ionClear)="clearResultData()" (ionChange)="searchQuery($event)" placeholder="Busca un lugar"></ion-searchbar>
  <div class="custom-searchbar border-bottom"></div>

  <ion-list lines="none">
    <ion-item *ngFor="let item of suggestions" button (click)="getGeopoint(item)">
      <ion-icon name="location-sharp" color="medium" class="ion-margin-end"></ion-icon>
      <ion-label>{{item.text}}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>