<status-bar color="#fff"></status-bar>

<custom-header [title]="service">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="tertiary" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon color="tertiary" slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</custom-header>


<ion-content scrollEvents="true" (ionScroll)="updateTitle($event.detail.scrollTop)">

  <ion-toolbar></ion-toolbar>

  
</ion-content>