<status-bar color="#fff"></status-bar>

<custom-header [title]="serviceName">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon color="tertiary" slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="filter()">
        <ion-icon color="tertiary" slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</custom-header>


<ion-content scrollEvents="true" (ionScroll)="updateTitle($event.detail.scrollTop)">

  <ion-toolbar></ion-toolbar>

  <div class="nav-bar-space" *ngIf="pageLoaded" [class.limit-height]="!professionals">

    <ng-template *ngIf="professionals then showContent; else demo"></ng-template>
    <ng-template #demo>
      <professional-card *ngFor="let i of [].constructor(4)"></professional-card>
    </ng-template>

    <ng-template #showContent>
      <ng-template *ngIf="professionals.length then professionalList; else emptyContent"></ng-template>

      <ng-template #emptyContent>
        <div class="content-empty">
          <img src="/assets/background-drawings/no-professionals.svg">
        <ion-text color="medium"><h1>Parece que no hay nadie por aquí...</h1></ion-text>
        </div>
      </ng-template>

      <ng-template #professionalList>
        <professional-card *ngFor="let professional of professionals" [professional]="professional"></professional-card>
      </ng-template>
    </ng-template>

  </div>

</ion-content>