.date {
  background-color: var(--ion-color-primary);
  width: fit-content;
  padding: 12px 24px;
  border-radius: 10px;
  color: white;
  margin: 16px auto 8px;
}

ion-list-header ion-label {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 10px;
  transform: none;
}