.input-edit {
  ion-item {
    --border-color: var(--ion-color-primary);
    --color: var(--ion-color-primary);
    --border-width: 0;
    --full-highlight-height: 0;

    ion-input, ion-textarea {
      --padding-start: 10px;
      --padding-end: 20px;
    }

    ion-label {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px;

      span {
        font-style: italic;
      }
    }

    form {
      width: 100%;
    }
  }

  .border {
    margin: 0 16px;
    border-color: var(--ion-color-primary);
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
  }
}

ion-footer {
  ion-button {
    text-transform: none;
    margin: 10px 14px 10px 0;
    height: 36px;

    &.confirm-button {
      background-color: var(--ion-color-primary);
      border-radius: 10px;
      --padding-start: 20px;
      --padding-end: 20px;
      --color: white;
    }
  }
}