<ion-card *ngIf="professional; else demo" mode="ios" button>
  <div class="card-content">

    <div class="left-content">
      <ion-button (click)="toggleFav()" fill="clear">
        <ion-icon color="light" slot="icon-only" name="heart-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="requestService()" fill="clear">
        <ion-icon color="light" slot="icon-only" name="reader-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="main-content">
      <ion-item lines="none">

        <ion-avatar slot="start" class="professional-image">
          <ng-container *ngIf="professional?.hasProfilePic">
            <ion-spinner *ngIf="showSpinner" name="crescent" color="medium"></ion-spinner>
            <ion-img [class.ion-invisible]="showSpinner" (ionImgDidLoad)="imageLoaded()" [src]="professional?.profilePic"></ion-img>
          </ng-container>
        </ion-avatar>

        <ion-label>
          <p>
            <ion-icon class="ion-padding-end" slot="icon-only" name="location"></ion-icon>{{professional.addressCity}}
          </p>
          <h2>{{professional.name}}</h2>
        </ion-label>
      </ion-item>

      <ion-card-content mode="md">
        <span upperCaseFirstLetter class="separate-childs-with-commas"
          *ngFor="let category of professional.services | keyvalue">{{category.key}}</span>
      </ion-card-content>

      <ion-footer class="ion-no-border">
        <ion-row>
          <ion-col size="6" class="stats">
            <ion-icon color="primary" name="star"></ion-icon>
            <ion-text color="dark">{{stars}}</ion-text>
          </ion-col>
          <ion-col size="6" class="stats">
            <ion-icon color="dark" src="/assets/icon/wrench-solid.svg"></ion-icon>
            <ion-text color="dark">{{jobs}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-footer>

      <ion-footer>
        <ion-toolbar class="ion-text-center">

          <ion-text *ngIf="professional.distance <= professional.radiusKm; else outsideRageMessage" color="success">
            Realiza servicios por tu zona
          </ion-text>

          <ng-template #outsideRageMessage>
            <ion-text color="danger">
              No realiza servicios por tu zona
            </ion-text>
          </ng-template>
        </ion-toolbar>
      </ion-footer>
    </div>

  </div>
</ion-card>


<ng-template #demo>
  <ion-card class="demo" mode="ios">
    <div class="card-content">
      <div class="left-content">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </div>
      <div class="main-content">
        <ion-item lines="none">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label class="border-radius">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
          </ion-label>
        </ion-item>

        <ion-card-content class="ion-padding border-radius">
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-card-content>

        <ion-footer class="ion-no-border border-radius">

          <ion-row>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 20%; margin: 4px auto;"></ion-skeleton-text>
            </ion-col>
            <ion-col size="6">
              <ion-skeleton-text animated style="width: 20%; margin: 4px auto;"></ion-skeleton-text>
            </ion-col>
          </ion-row>

        </ion-footer>

        <ion-footer style="display: inline-block;" class="border-radius" mode="md">
          <ion-skeleton-text class="ion-margin" animated style="width: 80%; margin: 16px auto;"></ion-skeleton-text>
        </ion-footer>
      </div>
    </div>


  </ion-card>
</ng-template>