.ion-float-right {
  z-index: 1;
  position: relative;
}

.card-content {
  display: flex;
  flex-direction: row;

  .left-content {
    position: relative;
    width: 100px;
    background-image: url(/assets/icon/no-images.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    ion-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 60%;
      width: 60%;
    }

    ion-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-right: none;

      &.cute {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto 0 auto auto;
        height: 90%;
        width: 90%;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }

  .main-content {
    width: 100%;

    ion-card-title {
      display: flex;
      flex-direction: column;
    }

    .options-button {
      height: auto;
      --padding-top: 12px;
      --padding-end: 8px;
    }

    ion-col {
      display: flex;
      align-items: center;

      .margin-end {
        margin-right: 4px;
      }

      ion-badge {
        --background: transparent;
        --color: var(--ion-color-medium);

        &:not(.unread-messages) {
          --padding-start: 0;
        }

        &.unread-messages {
          --background: var(--ion-color-danger);
          --color: var(--ion-color-light);
        }
      }
    }

    .chat-button {
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      --border-radius: 35px 0 0 0;
      height: 50px;
      width: 50px;

      ion-icon {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        transform: translate(-1px, 2px);
      }
    }

    .badge {
      height: 18px;
      width: 18px;
      border-radius: 100%;
      z-index: 1;
      position: absolute;
      bottom: 30px;
      right: 30px;
      pointer-events: none;

      &.unread-messages {
        background-color: var(--ion-color-danger);
      }
    }
  }
}