/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/fonts.scss";

:host {
  ion-ripple-effect {
    color: red;
  }
}

.header-big-size ion-title {
  font-size: 28.5px;
}

.no-transform,
.no-transform * {
  transform: none !important;
  text-transform: none !important;
}

.ion-invisible {
  visibility: hidden;
}

.ion-opacity-transition {
  transition: opacity .2s;
}

.ion-no-opacity {
  opacity: 0;
}

.border-radius-10 {
  border-radius: 10px;
  --border-radius: 10px;
}

.border-radius {
  border-radius: 15px;
  --border-radius: 15px;
}

.background-transparent {
  background-color: transparent !important;
}

.no-shadow {
  box-shadow: none !important;
}

.swiper-scrollbar {
  visibility: hidden;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.break-spaces {
  white-space: break-spaces !important;
}

.nav-bar-space {
  padding-bottom: 80px;
}

.separate-childs-with-commas:not(:last-child)::after {
  content: ', ';
}

.popover-content {
  --width: auto;
  border-radius: 10px !important;

  ion-item {
    --padding-end: 30px;
  }
}

ion-searchbar.custom-searchbar {
  --box-shadow: none;
  --color: var(--ion-color-tertiary);
  --icon-color: var(--ion-color-tertiary);


  input {
    font-weight: 500 !important;
    font-size: 20px !important;
  }
}

.custom-searchbar.border-bottom {
  margin: 0 20px 0 60px;
  border-top: 2px solid var(--ion-color-primary);
  transform: translateY(-10px);
}

.buttons-cancel-confirm {
  ion-button {
    text-transform: none;
    margin: 10px 14px 10px 0;
    height: 36px;

    &.confirm-button {
      background-color: var(--ion-color-primary);
      border-radius: 10px;
      --padding-start: 20px;
      --padding-end: 20px;
      --color: white;
    }
  }
}

.custom-alert {
  .alert-wrapper {
    border-radius: 10px !important;
  }

  button {
    text-transform: none !important;
    margin-bottom: 10px !important;

    &.confirm-button {
      padding: 10px 15px;
      border-radius: 10px;
      color: white;
      margin: 0px 14px 10px;
    }
  }

  &.primary .confirm-button {
    background-color: var(--ion-color-primary);
  }

  &.secondary .confirm-button {
    background-color: var(--ion-color-secondary);
  }

  &.danger .confirm-button {
    background-color: var(--ion-color-danger);
  }
}

fiv-app-bar {
  --fiv-appbar-background-color: #fff !important;
  --fiv-icon-color: #666666;

  &.border {
    --fiv-appbar-background-color: #f0f0f0 !important;
    --fiv-radius: 70px !important;
    transform: translateX(-1px);
    z-index: 4999;
  }

  .appbar-rect {
    z-index: -1;
    box-shadow: 0px 0 5px 0px rgba(0, 0, 0, .1) !important;

    // .tab {
    //   fiv-icon::after {
    //     content: '';
    //     opacity: .2;
    //     background-color: var(--ion-color-primary);
    //     color: white;
    //     width: 40px;
    //     height: 40px;
    //     display: inline-block;
    //     position: absolute;
    //     left: 50%;
    //     top: 45%;
    //     transform: translate(-50%, -50%) scale(.4);
    //     border-radius: 40%;
    //     transition: transform ease-out .2s, opacity ease-out .3s;
    //     opacity: 0;
    //   }

    //   &.active {
    //     fiv-icon::after {
    //       opacity: .2;
    //       transform: translate(-50%, -50%) scale(1);
    //     }
    //   }
    // }
  }
}

ion-list ion-item {
  // --inner-padding-end: 0;
}

ion-toggle {
  height: 22px;
  width: 46px;
  --handle-spacing: 4px;
  --handle-height: 16px;
  --handle-width: 16px;
  --background: lightgray;
  --background-checked: #FCE0C2;
  --handle-box-shadow: none;
}

ion-checkbox {
  --border-color: lightgray;
  --border-radius: 4px;
  --size: 22px;

}

ion-modal {
  &.modal-fullscreen .modal-wrapper {
    height: 100%;
    width: 100%;
  }

  &.action-sheet {
    --height: auto;

    &.border-top-radius .modal-wrapper {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    ion-backdrop {
      --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    }

    .modal-wrapper {
      position: absolute;
      bottom: 0;
      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

      .ion-page {
        position: relative;
        contain: content;

        ion-list ion-item {
          --padding-top: 4px;
          --padding-bottom: 4px;
        }
      }
    }
  }

  &.modal {
    --height: auto;

    ion-backdrop {
      --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    }

    .modal-wrapper {

      .ion-page {
        position: relative;
        contain: content;
      }

      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
      width: 80%;
      max-width: 420px;
      border-radius: 10px;
    }
  }
}

image-cropper {

  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  --cropper-overlay-color: #000;
  --cropper-outline-color: rgba(0, 0, 0, 0.5);

  .cropper {
    .resize {

      &.top,
      &.left,
      &.bottom,
      &.right {
        display: none !important;
      }

      &.topright,
      &.bottomright,
      &.bottomleft,
      &.topleft {
        opacity: 1 !important;

        .square {
          border-radius: 100% !important;
          background-color: #fff !important;
          height: 10px !important;
          width: 10px !important;
        }
      }

      --position: -13px;

      &.topright,
      &.topleft {
        top: var(--position) !important;
      }

      &.bottomright,
      &.bottomleft {
        bottom: var(--position) !important;
      }

      &.bottomleft,
      &.topleft {
        left: var(--position) !important;
      }

      &.topright,
      &.bottomright {
        right: var(--position) !important;
      }
    }

    &:after {
      border: 1px solid #fff !important;
      opacity: 1 !important;
    }
  }
}

.login-content {
  width: 80%;
  height: 100%;
  min-width: 300px;
  max-width: 350px;
  margin: auto;

  .img {
    width: 100%;
    height: 50%;
    min-height: 260px;
    position: relative;

    .background-drawings {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);

      &.near-bottom {
        bottom: 20px;
      }
    }
  }

  .user-interaction {
    font-size: 1rem;
    height: 48px;
    font-weight: 400;

    &.input-password {
      --inner-padding-end: 4px;
    }

    &.buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      ion-button {
        font-size: 1rem;
        font-weight: inherit;
        text-transform: none;
        width: 45%;
        margin: 0;
        height: 100%;
        --transition: .5s;
        --box-shadow: none;
      }
    }

    form {
      width: 100%;
    }
  }
}

.login-toast {
  text-align: center;
}

.title {
  h1 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 50px;

    span::before {
      content: "\A";
      white-space: pre;
    }
  }
}

span.new-line::before {
  content: "\A";
  white-space: pre;
}

.only-spinner .loading-wrapper {
  display: contents;
  --color: #fff;

  ion-spinner {
    --spinner-color: #fff;
  }

  ion-spinner,
  ion-spinner svg {
    height: 100px;
    width: 100px;
  }
}

.background-black {
  background-color: #000;
}

.calendar-modal {

  ion-backdrop {
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  }

  .modal-wrapper {
    --height: 430px;
    --width: 300px;
    border-radius: 15px;

    ion-calendar {
      overflow: hidden;

      .month-packer-item {
        margin: 22px 0;

        &:nth-last-child(-n+4) {
          margin-bottom: 0;
        }
      }
    }
  }
}