/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/fonts.scss";

.no-transform {
  transform: none !important;
}

.ion-invisible {
  visibility: hidden;
}

.border-radius {
  border-radius: 15px;
  --border-radius: 15px;
}

.background-transparent {
  background-color: transparent !important;
}

.no-shadow {
  box-shadow: none !important;
}

.swiper-scrollbar {
  visibility: hidden;
}

ion-list ion-item {
  // --inner-padding-end: 0;
}

ion-toggle {
  height: 22px;
  width: 46px;
  --handle-spacing: 4px;
  --handle-height: 16px;
  --handle-width: 16px;
  --background: lightgray;
  --background-checked: #FCE0C2;
  --handle-box-shadow: none;
}

ion-checkbox {
  --border-color: lightgray;
  --border-radius: 4px;
  --size: 22px;

}

:host(.checkbox-icon) {
  padding: 5px;
}

ion-modal {
  &.modal-fullscreen .modal-wrapper {
    height: 100%;
    width: 100%;
  }

  &.action-sheet {
    --height: auto;

    ion-backdrop {
      --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    }

    .modal-wrapper {
      position: absolute;
      bottom: 0;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

      .ion-page {
        position: relative;
        contain: content;

        ion-list ion-item {
          --padding-top: 4px;
          --padding-bottom: 4px;
        }
      }
    }
  }

  &.modal-terms-and-conditions {
    --height: auto;

    ion-backdrop {
      --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    }

    .modal-wrapper {

      .ion-page {
        position: relative;
        contain: content;
      }

      --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
      width: 80%;
      max-width: 420px;
      border-radius: 10px;
    }
  }
}

image-cropper {

  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  --cropper-overlay-color: #000;
  --cropper-outline-color: rgba(0, 0, 0, 0.5);

  .cropper {
    .resize {

      &.top,
      &.left,
      &.bottom,
      &.right {
        display: none !important;
      }

      &.topright,
      &.bottomright,
      &.bottomleft,
      &.topleft {
        opacity: 1 !important;

        .square {
          border-radius: 100% !important;
          background-color: #fff !important;
          height: 10px !important;
          width: 10px !important;
        }
      }

      --position: -13px;

      &.topright,
      &.topleft {
        top: var(--position) !important;
      }

      &.bottomright,
      &.bottomleft {
        bottom: var(--position) !important;
      }

      &.bottomleft,
      &.topleft {
        left: var(--position) !important;
      }

      &.topright,
      &.bottomright {
        right: var(--position) !important;
      }
    }

    &:after {
      border: 1px solid #fff !important;
      opacity: 1 !important;
    }
  }
}

.login-content {
  width: 80%;
  height: 100%;
  min-width: 300px;
  max-width: 350px;
  margin: auto;

  .img {
    width: 100%;
    height: 50%;
    min-height: 260px;
    position: relative;

    .background-drawings {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);

      &.near-bottom {
        bottom: 20px;
      }
    }
  }

  .title {
    h1 {
      text-align: center;
      color: #fff;
      font-size: 1.9rem;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 50px;

      span::before {
        content: "\A";
        white-space: pre;
      }
    }
  }

  .user-interaction {
    font-size: 1rem;
    height: 48px;
    font-weight: 400;

    &.input-password {
      --inner-padding-end: 4px;
    }

    &.buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      ion-button {
        font-size: 1rem;
        font-weight: inherit;
        text-transform: none;
        width: 45%;
        margin: 0;
        height: 100%;
        --transition: .5s;
        --box-shadow: none;
      }
    }

    form {
      width: 100%;
    }
  }
}

.login-toast {
  text-align: center;
}