/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "theme/fonts.scss";

.ion-invisible {
  visibility: hidden;
}

.border-radius {
  border-radius: 15px;
  --border-radius: 15px;
}

.swiper-scrollbar {
  visibility: hidden;
}

.modal-fullscreen .modal-wrapper {
  height: 100%;
  width: 100%;
}

.login-content {
  width: 80%;
  height: 100%;
  min-width: 300px;
  max-width: 350px;
  margin: auto;

  .img {
    width: 100%;
    height: 50%;
    min-height: 260px;
    position: relative;

    .background-drawings {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);

      &.near-bottom {
        bottom: 20px;
      }
    }
  }

  .title {
    h1 {
      text-align: center;
      color: #fff;
      font-size: 1.9rem;
      font-weight: 600;
      margin-top: 20px;
      margin-bottom: 50px;

      span::before {
        content: "\A";
        white-space: pre;
      }
    }
  }

  .user-interaction {
    font-size: 1rem;
    height: 48px;
    font-weight: 400;

    &.input-password {
      --inner-padding-end: 4px;
    }

    &.buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      ion-button {
        font-size: 1rem;
        font-weight: inherit;
        text-transform: none;
        width: 45%;
        margin: 0;
        height: 100%;
        --transition: .5s;
        --box-shadow: none;
      }
    }
  }
}


.transparent {
  background-color: transparent !important;
}

.no-shadow {
  box-shadow: none !important;
}