:host {
  display: contents;
}

ion-fab {
  position: fixed;

  ion-button {
    min-height: 56px;
    min-width: 56px;

    ion-icon {
      font-size: 24px;
      margin-left: 8px;
      transform: translateX(-4px);
    }

    .text-wrapper {
      display: inline-block;
      transition: width .25s;
      overflow: hidden;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
      text-transform: none;

      &.compact {
        width: 0 !important;
      }
    }

    .space {
      display: inherit;
      width: 16px;
    }
  }
}