<div #fabWrapper (click)="onClick()" class="fab-wrapper" [class.animate]="loaded" [class.collapsed]="collapsed">

  <div class="ion-activatable ripple-parent">
    <ion-ripple-effect></ion-ripple-effect>
  </div>

  <div class="outter">
    <div #left class="left">
      <ion-icon color="light" class="icon" [name]="iconName"></ion-icon>
    </div>

    <div #center class="center"></div>

    <div #textWrapper class="text-wrapper">
      <div #textContent class="text-content">{{text}}</div>
    </div>

    <div class="right"></div>

    <div class="shadow"></div>
  </div>

  <ng-content></ng-content>
</div>