<ion-list lines="none">
  <ion-item button (click)="editProfile()">
    <ion-label>Editar</ion-label>
    <ion-icon slot="start" name="create-outline"></ion-icon>
  </ion-item>
  <!-- <ion-item button (click)="()">
    <ion-label>Configuración</ion-label>
    <ion-icon slot="start" name="settings-outline"></ion-icon>
  </ion-item> -->
  <ion-item button (click)="logout()">
    <ion-label>Cerrar sesión</ion-label>
    <ion-icon slot="start" name="log-out-outline"></ion-icon>
  </ion-item>
</ion-list>