:host {
  display: contents;
}

.image-profile-toolbar {
  height: 42px;
  width: 42px;
  border-radius: 100%;
  background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
  background-color: var(--ion-color-light);
  background-size: 30px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  ion-avatar {
    border: 2px solid #fff;
    height: 100%;
    width: 100%;
  }
}

.content {
  background-color: white;
  position: relative;
  color: red;
  margin-top: 70px;
  border-radius: 40px 40px 0 0;
  min-height: calc(100% - 70px);
  height: auto;

  .image-profile {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 130px;
    width: 130px;
    border-radius: 100%;
    background: url('/assets/background-drawings/profile-picture.svg') bottom no-repeat;
    background-color: var(--ion-color-light);
    border: 8px solid #fff;

    ion-avatar {
      height: 100%;
      width: 100%;

      ion-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 50%;
      }
    }

    .stars {
      height: 40px;
      width: 40px;
      background-color: var(--ion-color-primary);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      border: 3px solid white;
      border-radius: inherit;
      text-align: center;

      .number {
        font-family: Poppins;
        font-weight: 200;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

  }

  .stats {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;

    .number {
      font-family: Poppins;
      font-weight: 500;
      margin-bottom: 4px;
    }

    .image-space {
      width: 130px;
    }

    h1 {
      margin-top: 0;
      font-weight: 600;
    }

  }

  .header {
    position: relative;
    margin-top: 80px;
    text-align: center;

    h1,
    h6 {
      margin: 0;
    }

    h6 {
      font-weight: 600;
    }
  }

  .info {

    ion-list {
      background: none;

      ion-item {
        --background: none;
      }
    }

    h2 {
      font-weight: 500;
      color: var(--ion-color-tertiary);
    }

    h3 {
      padding-top: 10px;
      padding-left: 10px;
      color: var(--ion-color-primary);
    }

    ion-card {
      box-shadow: none;
    }
  }
}