<ng-template #profileImageTemplate>
  <ng-container *ngIf="user?.hasProfilePic">
    <ion-avatar>
      <ion-spinner *ngIf="showSpinner" name="crescent" color="medium"></ion-spinner>
      <ion-img [class.ion-invisible]="showSpinner" (ionImgDidLoad)="imageLoaded()" [src]="user?.profilePic"></ion-img>
    </ion-avatar>
  </ng-container>
</ng-template>

<status-bar [color]="backgroundColor"></status-bar>

<ion-header class="ion-no-border">
  <ion-toolbar [color]="backgroundColor">

    <ion-buttons slot="start">
      <ng-content select="[buttonsStart]"></ng-content>
    </ion-buttons>
    
    <div class="image-profile-toolbar ion-opacity-transition" [class.ion-no-opacity]="bigProfileImageIsVisible">
      <ng-container *ngTemplateOutlet="profileImageTemplate"></ng-container>
    </div>

    <ion-buttons slot="end">
      <ng-content select="[buttonsEnd]"></ng-content>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content [color]="backgroundColor" [scrollEvents]="scrollEvents">

  <div #profileContent class="content" [class.nav-bar-space]="navBarSpace">

    <div class="ion-padding">
      
      <div #profileImageWrapper class="image-profile">
        <ng-container *ngTemplateOutlet="profileImageTemplate"></ng-container>
        <div *ngIf="user?.role === userRol.professional" class="stars">
          <span class="number">4.5</span>
        </div>
      </div>

      <div *ngIf="user?.role === userRol.professional" class="stats">
        <div class="works">
          <ion-text color="primary">
            <h1 class="number">24</h1>
          </ion-text>
          <ion-text color="tertiary">
            Trabajos
          </ion-text>
        </div>
        <div class="image-space"></div>
        <div class="opinions">
          <ion-text color="primary">
            <h1 class="number">13</h1>
          </ion-text>
          <ion-text color="tertiary">
            Opiniones
          </ion-text>
        </div>
      </div>

      <div class="header">
        <div class="name">
          <ion-text color="tertiary">
            <h1> {{user?.name}}</h1>
          </ion-text>
        </div>
        <div *ngIf="user?.role === userRol.professional" class="jobs">
          <ion-text color="primary">
            <h6>
              <span class="separate-childs-with-commas" [upperCaseFirstLetter]="category.key"
                *ngFor="let category of user?.services | keyvalue "></span>
            </h6>
          </ion-text>
        </div>

        <ng-content select="[profileDisabledNotice]"></ng-content>

      </div>


      <div class="info">
        <ion-list lines="none">

          <ng-container *ngIf="user?.role === userRol.professional" class="professional-info">
            <ion-item *ngIf="user?.companyName">
              <ion-label>
                <h2>Empresa</h2>
                <h3 class="ion-text-wrap">{{user.companyName}}</h3>
              </ion-label>
            </ion-item>

            <ion-item *ngIf="user?.services">
              <ion-label>
                <h2>Especialización</h2>
                <h3 class="ion-text-wrap">
                  <ng-container *ngFor="let category of user.services | keyvalue ">
                    <span [upperCaseFirstLetter]="service" *ngFor="let service of category.value"
                      class="separate-childs-with-commas"></span>
                  </ng-container>
                </h3>
              </ion-label>
            </ion-item>

            <ion-item *ngIf="user?.workingHours">
              <ion-label>
                <h2>Horario</h2>
                <h3>
                  <span class="separate-childs-with-commas" [upperCaseFirstLetter]="workingHour"
                    *ngFor="let workingHour of user.workingHours"></span>
                </h3>
              </ion-label>
            </ion-item>

            <ion-item *ngIf="user?.about">
              <ion-label>
                <h2>Sobre mí</h2>
                <h3 class="break-spaces">{{user.about}}</h3>
              </ion-label>
            </ion-item>
          </ng-container>

          <ng-container *ngIf="user?.addressFull">
            <ion-item>
              <ion-label>
                <h2>Ubicación</h2>
                <h3 class="break-spaces">{{user?.hideLocationAccuracy ? user?.addressCity: user?.addressFull}}</h3>
              </ion-label>
            </ion-item>

            <map-preview 
              *ngIf="user?.role === userRol.professional"
              [coordinates]="user?.coordinates"
              [radiusKm]="user?.radiusKm"
              [hideMarker]="user?.hideLocationAccuracy"
              [id]="'profile-location-' + mapId"
            ></map-preview>

          </ng-container>
        </ion-list>
      </div>

      <ng-content select="[beProfessionalNotice]"></ng-content>
    
    </div>

  </div>
  
  <ng-content select="[requestServiceButton]"></ng-content>

</ion-content>