<profile-view
  [backgroundColor]="backgroundColor"
  [user]="user"
  mapId="pro-location"
  scrollEvents="true"
  (scrollEvent)="scrollEvent($event)"
>

  <ion-header class="ion-no-border">
    <ion-toolbar [color]="backgroundColor">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()">
          <ion-icon color="light" slot="icon-only" name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="toggleFav()">
          <ion-icon color="light" slot="icon-only" name="heart-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <fab-with-text requestServiceButton 
    vertical="bottom" 
    horizontal="end" 
    iconName="reader-outline" 
    text="Solicitar servicios"
    [compactButton]="compactButton"
  ></fab-with-text>
  
</profile-view>