<profile-view
  [backgroundColor]="backgroundColor"
  [user]="user"
  [mapId]="user?.id"
  [scrollEvents]="true"
  (scrollEvent)="scrollEvent($event)"
>

  <ion-button buttonsStart (click)="goBack()">
    <ion-icon color="light" slot="icon-only" name="chevron-back-outline"></ion-icon>
  </ion-button>
  <ion-button buttonsEnd (click)="toggleIcon()" (debounceClick)="toggleFav()">
    <ion-icon color="light" slot="icon-only" [name]="isFav ? 'heart' : 'heart-outline'"></ion-icon>
  </ion-button>

  <fab-with-text requestServiceButton 
    [iconName]="user.selectedForRequest ? 'reader' : 'reader-outline'" 
    [text]="user.selectedForRequest ? 'Eliminar solicitud&nbsp;' : 'Solicitar servicios'"
    [collapsed]="collapsedFab"
    (clicked)="requestService()"
  ></fab-with-text>
  
</profile-view>